@(message: String)
<html>
    <head>
        <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script
        src="http://underscorejs.org/underscore-min.js"></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    </head>
    <body>
        <div style="width: 85%; margin: auto;">
            <canvas id="chart1"></canvas>
            <canvas id="chart2"></canvas>
        </div>
        <script>
                $.getJSON("metrics", function (pullRequests) {
                    buildChart1(pullRequests);
                    buildChart2(pullRequests);
                });

                function buildChart1(pullRequests) {
                    var labels = _(pullRequests).chain().flatten()
                            .pluck('closed')
                            .unique()
                            .sortBy(function (label) {
                                return label;
                            })
                            .value();

                    var totalClosedData = _.map(labels, function (label) {
                        var filteredPullRequests = _.filter(pullRequests, function (pullRequest) {
                            return pullRequest.closed === label;
                        });
                        return filteredPullRequests.length;
                    });

                    var totalCreatedData = _.map(labels, function (label) {
                        var filteredPullRequests = _.filter(pullRequests, function (pullRequest) {
                            return pullRequest.created === label;
                        });
                        return filteredPullRequests.length;
                    });

                    var averageTimeData = _.map(labels, function (label) {
                        var filteredPullRequests = _.filter(pullRequests, function (pullRequest) {
                            return pullRequest.closed === label;
                        });
                        var totalHours = _.reduce(filteredPullRequests, function (num, pullRequest) {
                            return pullRequest.hours + num;
                        }, 0);
                        return (totalHours / filteredPullRequests.length).toFixed(2);
                    });

                    var data = {
                        labels: labels,
                        datasets: [
                            {
                                label: 'Approvals',
                                data: totalClosedData,
                                backgroundColor: "#1d9dfc",
                                borderColor: "#1d9dfc",
                                fill: false,
                                yAxisID: 'B'
                            },
                            {
                                label: 'Hours in review',
                                data: averageTimeData,
                                fill: false,
                                backgroundColor: "#fc416a",
                                borderColor: "#fc416a",
                                yAxisID: 'A'
                            },
                            {
                                label: 'Created',
                                data: totalCreatedData,
                                fill: false,
                                yAxisID: 'C'
                            }
                        ]
                    };
                    var ctx1 = document.getElementById("chart1");
                    new Chart(ctx1, {
                        type: 'line',
                        data: data,
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Pull Request Time & Approval Metrics'
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            layout: {
                                padding: {
                                    left: 50,
                                    right: 50,
                                    top: 50,
                                    bottom: 50
                                }
                            },
                            scales: {
                                xAxes: [
                                    {
                                        display: false,
                                        scaleLabel: {
                                            display: false,
                                            labelString: 'Weeks'
                                        }
                                    }],
                                yAxes: [
                                    {
                                        id: 'A',
                                        type: 'linear',
                                        display: false,
                                        scaleLabel: {
                                            display: false,
                                            labelString: 'Value'
                                        }
                                    },
                                    {
                                        id: 'B',
                                        type: 'linear',
                                        display: false,
                                        scaleLabel: {
                                            display: false,
                                            labelString: 'Value'
                                        }
                                    },
                                    {
                                        id: 'C',
                                        type: 'linear',
                                        display: false,
                                        scaleLabel: {
                                            display: false,
                                            labelString: 'Value'
                                        }
                                    }
                                ]
                            }
                        }
                    });
                }

                function buildChart2(pullRequests) {
                    var labels = _(pullRequests).chain().flatten()
                            .pluck('changes')
                            .map(function (changes) {
                                return roundToNearest(changes);
                            })
                            .filter(function(label) {
                                return label > 0 && label < 2000
                            })
                            .unique()
                            .sortBy(function (label) {
                                return label;
                            })
                            .value();

                    var averageTimeData = _.map(labels, function (label) {
                        var filteredPullRequests = _.filter(pullRequests, function (pullRequest) {
                            return roundToNearest(pullRequest.changes) === label;
                        });
                        var totalHours = _.reduce(filteredPullRequests, function (num, pullRequest) {
                            return pullRequest.hours + num;
                        }, 0);
                        return (totalHours / filteredPullRequests.length).toFixed(2);
                    });

                    var createdData = _.map(labels, function (label) {
                        var filteredPullRequests = _.filter(pullRequests, function (pullRequest) {
                            return roundToNearest(pullRequest.changes) === label;
                        });
                        return filteredPullRequests.length;
                    });

                    var data = {
                        labels: labels,
                        datasets: [
                            {
                                label: 'Changes',
                                data: labels,
                                fill: false,
                                backgroundColor: "#1d9dfc",
                                borderColor: "#1d9dfc",
                                yAxisID: 'A'
                            },
                            {
                                label: 'Hours in review',
                                data: averageTimeData,
                                fill: false,
                                backgroundColor: "#fc416a",
                                borderColor: "#fc416a",
                                yAxisID: 'B'
                            },
                            {
                                label: 'Created',
                                data: createdData,
                                fill: false,
                                yAxisID: 'C'
                            }
                        ]
                    };
                    var ctx2 = document.getElementById("chart2");
                    new Chart(ctx2, {
                        type: 'line',
                        data: data,
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Pull Request Size & Approval Metrics'
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            layout: {
                                padding: {
                                    left: 50,
                                    right: 50,
                                    top: 50,
                                    bottom: 50
                                }
                            },
                            scales: {
                                xAxes: [
                                    {
                                        display: false,
                                        scaleLabel: {
                                            display: false,
                                            labelString: 'Weeks'
                                        }
                                    }],
                                yAxes: [
                                    {
                                        id: 'A',
                                        type: 'linear',
                                        display: false,
                                        scaleLabel: {
                                            display: false,
                                            labelString: 'Value'
                                        }
                                    },
                                    {
                                        id: 'B',
                                        type: 'linear',
                                        display: false,
                                        scaleLabel: {
                                            display: false,
                                            labelString: 'Value'
                                        }
                                    },
                                    {
                                        id: 'C',
                                        type: 'linear',
                                        display: false,
                                        scaleLabel: {
                                            display: false,
                                            labelString: 'Value'
                                        }
                                    }
                                ]
                            }
                        }
                    });
                }

                function roundToNearest(num) {
                    return Math.round(num / 50.0) * 50;
                }

        </script>
    </body>
</html>
